// color scheme
$color-white: #fff;
$color-platinium: #e6e7e7;
$color-ligth-gray: #d1d1d1;

$color-Fuzzy-Wuzzy: #E56353;
$color-Ruddy-pink: #D76C69;
$color-Spanish-pink: #ECBCBA;

$color-Eerie-black: #121619;
$color-Raisin-black: #222323;
$color-nickel: #6C6E70;

//font size
$fz-xx-large: 70px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 12px;

//font weigth
$ligth-weigth: 300;
$regular-weigth: 400;
$black-weight: 900;