body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

.blog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121619;
  height: 206px;
}
@media screen and (min-width: 768px) {
  .blog-footer {
    height: 199px;
  }
}
.blog-footer__logo {
  width: 81px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .blog-footer__logo {
    width: 122px;
    height: auto;
  }
}

.blog-nav {
  background-color: #121619;
}
@media screen and (min-width: 768px) {
  .blog-nav {
    height: 96px;
  }
}
.blog-nav__logo {
  width: 81px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .blog-nav__logo {
    width: 74px;
  }
}

.blog-hero {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 640px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .blog-hero {
    background-position: initial;
  }
}
.blog-hero__title {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .blog-hero__title {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    font-size: 70px;
  }
}
.blog-hero__title h2 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .blog-hero__title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
}
.blog-hero__icon {
  stroke: white;
}
@media screen and (min-width: 768px) {
  .blog-hero__icon {
    text-align: center;
  }
}

.blog-article {
  line-height: 40px;
}
.blog-article__date {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  color: #d1d1d1;
}
.blog-article__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.blog-article__button-layout {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .blog-article__button-layout {
    text-align: start;
  }
}
.blog-article__button {
  border-radius: 20px;
  background-color: #6C6E70;
  color: #fff;
  justify-content: center;
}
.blog-article__important {
  color: #D76C69;
}

.blog-author {
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .blog-author {
    display: flex;
    text-align: left;
    justify-content: center;
    margin: 58px auto 92px;
  }
}
.blog-author__portrait {
  border-radius: 50%;
  width: 131px;
  height: auto;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .blog-author__portrait {
    width: 177px;
    height: auto;
    margin: 0 40px;
  }
}
.blog-author__name {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 900;
  color: #121619;
  font-style: italic;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .blog-author__name {
    padding-top: 20px;
    text-align: left;
  }
}
.blog-author__email {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D76C69;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .blog-author__email {
    font-size: 18px;
    text-align: left;
  }
}
.blog-author__description {
  text-align: left;
  line-height: 35px;
  color: #6C6E70;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 617px;
  padding-top: 20px;
  margin: 0 40px;
}

.blog-pagination {
  background: #e6e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-pagination__pagination {
  margin: 58px auto;
}
@media screen and (min-width: 768px) {
  .blog-pagination__pagination {
    margin: 48px auto;
  }
}
.blog-pagination__page-link {
  background-color: #fff;
  color: #121619;
  width: 92px;
  height: 38px;
  border: #121619;
}
.blog-pagination__page-link-active {
  background-color: #121619;
  color: #fff;
  width: 34px;
  height: 38px;
  font-size: 16px;
  border: #121619;
  display: inline-block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .blog-pagination__page-link-active {
    margin: 48px auto;
  }
}

/*# sourceMappingURL=styles.css.map */
