.blog-article {
   
    line-height: 40px;
  

    &__date {
        font-family: 'Playfair Display', serif;
        font-size: $fz-medium;
        font-weight: $regular-weigth;
        color: $color-ligth-gray;
    }

    &__paragraph{
        font-family: 'Roboto', sans-serif;
        font-size: $fz-medium;
        font-weight: $ligth-weigth;
        
    }

    &__button-layout{
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: start;}
    }

    &__button{
        border-radius: 20px;
        background-color: $color-nickel;
        color: $color-white;
        justify-content: center;
        
                
    }

    &__important{
        color: $color-Ruddy-pink;
    }

    
}