.blog-article {
    justify-content: start;
    letter-spacing: 35px;
    line-height: 40px;
    

    &__date {
        font-family: 'Playfair Display', serif;
        font-size: $fz-medium;
        font-weight: $regular-weigth;
        color: $color-ligth-gray;
    }

    &__paragraph{
        font-family: 'Roboto', sans-serif;
        font-size: $fz-medium;
        font-weight: $ligth-weigth;
        
    }

    &__button{
        border-radius: 20px;
        background-color: $color-nickel;
    }
}