.blog-hero{
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 640px;
    text-align: center;
    
    @media screen and (min-width: 768px) {
        background-position: initial;
    }
 
    &__title{
        color: $color-white;
        font-family: 'Playfair Display', serif;
        font-weight: $black-weight;
        font-style: italic;   
        font-size: $fz-x-large;  
        width: 250px;
        
        
        @media screen and (min-width: 768px) {
            
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 400px;
            font-size: $fz-xx-large;
            
        }
    }
    
    &__title h2{
        color: $color-white;
        font-family: 'Playfair Display', serif;
        font-weight: $black-weight;
        font-style: italic;   
        font-size: $fz-x-large;  
        width: 250px;
        
        
        @media screen and (min-width: 768px) {
            
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 400px;
        }
    }

    &__icon {
        stroke: white;
        
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }
    
}   